.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100vh;
}

.registerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 500px;
  max-width: 500px;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.errorMessage {
  color: #e74a3b;
  margin-block: 1rem;
  width: 100%;
}

.login {
  text-align: center;
  margin-top: 1.5rem;
  color: #666;
}

.loginLink {
  color: var(--blue);
  text-decoration: none;
  margin-left: 0.5rem;
}

.loginLink:hover {
  text-decoration: underline;
}
