:root {
  --white-background: #f5f5f5;

  --blue: #4e73df;
  --blue-hover: #3554b3;
  --light-blue: #5f80db;
  --lightest-blue: #a5bcf8;

  --green: #669e76;
  --light-green: #7db88d;

  --white: #ffffff;
  --light-gray: #a0a0a0;
  --gray: #636363;
}
