.errorContainer {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorContainer button {
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid red;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.errorContainer button:hover {
  background-color: rgb(240, 173, 173);
}

.errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.something {
  display: flex;
  align-items: center;
  gap: 10px;
}
