@import "./styles/fonts.css";
@import "./styles/colors.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 0.4px;
  background-color: var(--white-background);
}

.container {
  max-width: 1200px;
  padding-inline: 2rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
  line-height: 1.2;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
}

.headerPadding {
  padding-top: 120px;
}

.addForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 auto;
  max-width: 700px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  background-color: var(--white);
  padding: 20px 15px;
  border-radius: 8px;
}

.errorMessage {
  color: red;
}
